.cardSpacingCustom {
  min-width: 150px;
  max-width: 160px;
  height: 380px;
  padding: 0.5rem;
  text-align: left;
  background-color: #fbfbfb !important;
  overflow: hidden;
  margin: 0;
 
}


.cardSpacingCustom a {
  text-decoration: none !important;
}

.infoFlexCustom {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.2rem;
  width: 100%;
}

.infoFlagCustom,
.secondFlag,
.flagbottom {
  margin: 0.2rem;
  font-weight: 500;
  border-radius: 0.5rem;
  text-wrap: nowrap;
}

.iconCardCustom {
  max-width: 35% !important;
}

.cardIconText {
  color: red;
  font-size: var(--font-ss) !important;
}

.flagbottom {
  background-color: transparent;
  border: 1px solid #000;
  padding: 0 0.3rem;
  color: #000 !important;
  margin-left: -1%;
  font-size: 0.8rem;
  width: max-content;
}
.cardDivTitle {

  max-width: 120px;
  font-size: var(--font-md);

}

.cardTitle {
  overflow: hidden;
  color: #000 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 480px) {
  .cardSpacingCustom{
    margin: 0rem ;
  }
}