.cardSpacingCustom{
    margin-left: .4rem;
    width: 90%;
    padding: .5rem;
   text-align: left;
   background-color: #FBFBFB  !important;
   margin-bottom: .9rem;
   overflow: hidden;
   
}

.infoFlexCustom{
  
    display: flex;
    flex-direction: row;
    margin-bottom: .2rem;
}

.infoFlagCustom, .secondFlag, .flagbottom{
    margin: 0.2rem;
    padding: 0.6rem;
    font-weight: 500;
    border-radius: 0.5rem;
    text-wrap: nowrap;
}

.iconCardCustom{
    max-width: 35% !important;

}

.cardIconText{
    color: red;
    font-size:var(--font-ss) !important;
}

.flagbottom {
    background-color: transparent;
    border: 1px solid #000;
    padding: 0 0.4rem;
    font-size: .8rem;
    min-width: min-contents;
}
.cardDivTitle{
    max-width: 120px;
    font-size: var(--font-md);
}

.cardTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

