 .title {
    color: #000;
    font-size:var(--font-xl);
    text-align: center;
    margin: -1rem auto 3rem auto;
  }
  
  .title .queryText {
    color: #f7d354;
  }
  
  .moviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
.divCard{
  width: max-content;
  height: max-content;
  margin-bottom: .9rem;
}