@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");
:root {
  --font-xl: clamp(1.5rem, 5vw + 0.1rem, 3rem);
  --font-md: clamp(1rem, 2vw + 0.1rem, 2rem);
  --font-ss: clamp(0.5rem, 0.9vw + 0.1rem, 1rem);
}

a {
  text-decoration: none !important;
}

body {
  background-color: #fbfbfb !important;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#root {
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
  font-size: var(--font-md);
  text-align: center;
  
}

.containerMain{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}